/* TOP LAYER */
body {
	display: table;
	min-height: 100vh;
	margin: 0 auto;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body.euromillions {
	background: #1F85C9;
}
body.swisslotto {
	background: #91141D;
}
* {
	box-sizing: border-box;
}
.wrapper {
	display: table-cell;
    vertical-align: middle;
}
.container {
    width: 768px;
    margin: 0px auto;
	padding: 40px;
	background: #F0F0F0;
	border-radius: 0 0 10px 10px;
}



/* FONTS */
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}
h2 {
    margin-bottom: 5px;
}



/* LOTTO SWITCHER */
.lottoselect {
    width: 768px;
    margin: 50px auto 0;
    overflow: hidden;
}
.lottoselect__option {
    display: block;
    width: 50%;
    float: left;
	border-radius: 0;
    background-color: #D3D3D3;
    height: 50px;
    line-height: 54px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.lottoselect__option:hover {
	background-color: #e0e0e0;
}
.lottoselect__option:first-child {
	border-radius: 10px 0 0 0;
}
.lottoselect__option:last-child {
	border-radius: 0 10px 0 0;
}
.euromillions .lottoselect__option[href="#euromillions"] {
	background-color: #F0F0F0;
}
.swisslotto .lottoselect__option[href="#swisslotto"] {
	background-color: #F0F0F0;
}
.lottoselect__option .lottoselect__option__icon {
	content: "";
	display: inline-block;
	vertical-align: top;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 50px;
	height: 100%;
}
.euromillions .lottoselect__option[href="#euromillions"] .lottoselect__option__icon {
	background-image: url(https://www.swisslos.ch/media/tech/layout/images/logo/euro_millions_logo.png);
}
.euromillions .lottoselect__option[href="#swisslotto"] .lottoselect__option__icon {
	background-image: url(https://www.swisslos.ch/media/tech/layout/images/logo/swiss_lotto_logo_bw.png);
}
.swisslotto .lottoselect__option[href="#swisslotto"] .lottoselect__option__icon {
	background-image: url(https://www.swisslos.ch/media/tech/layout/images/logo/swiss_lotto_logo.png);
}
.swisslotto .lottoselect__option[href="#euromillions"] .lottoselect__option__icon {
	background-image: url(https://www.swisslos.ch/media/tech/layout/images/logo/euro_millions_logo_bw.png);
}

/* EUROMILLIONS */
.euromillions .sl {
    display: none;
}
.euromillions .em {
    display: block;
}

/* NUMBERS */
.em__numbers {
    display: inline-block;
	margin-right: 40px;
	vertical-align: top;
}
.em b {
    display: block;
	margin-bottom: 10px;
}
.em__numbers__nr {
    display: inline-block;
	width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
	font-weight: bold;
	border: 1px solid #d3d3d3;
    border-radius: 100%;
	background: rgb(206,220,231);
	background: -moz-linear-gradient(-45deg, #fff 0%, #d3d3d3 100%);
	background: -webkit-linear-gradient(-45deg, #fff 0%, #d3d3d3 100%);
	background: linear-gradient(135deg, #fff 0%, #d3d3d3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d3d3d3',GradientType=1 );
}

/* STARS */
.em__stars {
    display: inline-block;
	vertical-align: top;
}
.em__stars__wrap {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
	line-height: 46px;
	text-align: center;
	vertical-align: middle;
}
.em__stars__wrap:after {
    content: "\2605";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	font-size: 50px;
    color: #ffdf2f;
	text-shadow: 1px 0px 0px #d3d3d3, -1px 0px 0px #d3d3d3, 0px 1px 0px #d3d3d3, 0px -1px 0px #d3d3d3;
}
.em__stars__wrap__nr {
	display: inline-block;
    position: relative;
    z-index: 1;
	width: 50px;
	height: 50px;
	line-height: 51px;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
    font-size: 90%;
}



/* SWISSLOTTO */
.swisslotto .em {
    display: none;
}
.swisslotto .sl {
    display: block;
	margin-top: 0;
}
.sl {
    margin-top: 40px;
}

/* NUMBERS */
.sl__numbers {
    display: inline-block;
	margin-right: 40px;
	vertical-align: top;
}
.sl b {
    display: block;
	margin-bottom: 10px;
}
.sl__numbers__nr {
    display: inline-block;
	width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
	font-weight: bold;
	border: 1px solid #d3d3d3;
    border-radius: 100%;
	background: rgb(206,220,231);
	background: -moz-linear-gradient(-45deg, #fff 0%, #d3d3d3 100%);
	background: -webkit-linear-gradient(-45deg, #fff 0%, #d3d3d3 100%);
	background: linear-gradient(135deg, #fff 0%, #d3d3d3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d3d3d3',GradientType=1 );
}

/* EXTRA NUMBER */
.sl__extra {
    display: inline-block;
	vertical-align: top;
}
.sl__extra__nr {
    display: inline-block;
	width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
	font-weight: bold;
	border: 1px solid #d3d3d3;
    border-radius: 100%;
	background: rgb(206,220,231);
	background: -moz-linear-gradient(-45deg, #fff09b 0%, #d2b100 100%);
	background: -webkit-linear-gradient(-45deg, #fff09b 0%, #d2b100 100%);
	background: linear-gradient(135deg, #fff09b 0%, #d2b100 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff09b', endColorstr='#d2b100',GradientType=1 );
}



/* REFRESH BUTTON */
.shuffle {
	margin-top: 40px;
}
.shuffle button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: 1px solid #d3d3d3;
    border-radius: 25px;
    padding: 10px 15px;
    font-weight: bold;
    background: rgb(206,220,231);
    background: -moz-linear-gradient(160deg, #fff 0%, #d3d3d3 100%);
    background: -webkit-linear-gradient(160deg, #fff 0%, #d3d3d3 100%);
    background: linear-gradient(160deg, #fff 0%, #d3d3d3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d3d3d3',GradientType=1 );
	cursor: pointer;
}
.shuffle button:hover {
	border: 1px solid #ababab;
}
.shuffle button:focus {
	outline: none;
	box-shadow: none;
}



/* LEGAL */
.legal {
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: normal;
	margin: 10px auto 50px;
}



/* MOBILE */
@media all and (max-width: 768px) {
	body {
		display: block;
		background: #F0F0F0 !important;
	}
	.wrapper {
		display: block;
	}
	.container {
		width: 100%;
		margin: 0 auto;
		padding: 20px;
	}
	.lottoselect {
		width: 100%;
		margin: 0 auto;
	}
	.lottoselect__option {
		border-radius: 0 !important;
	}
	.em b {
	    margin-bottom: 5px;
	}
	.em__stars {
	    display: block;
	    margin-top: 20px;
	}
	.sl b {
		margin-bottom: 5px;
	}
	.sl__extra {
	    display: block;
	    margin-top: 20px;
	}
	.legal {
		position: absolute;
		width: 100%;
		bottom: 0;
		margin: 10px auto 20px;
		color: #333;
		font-size: 11px;
	}
}
