<h1>Legal Notice</h1>
<h2>Owner</h2>
<p>
    Jan Fässler<br />
    <a href="mailto:info@faessler.be">info(at)faessler.be</a>
</p>

<h2>Information</h2>
<p>
    No guarantee for correctness of the generated lotto numbers.<br />
    This page is created with <a href="http://angular.io/" target="_blank" rel="noopener noreferrer">Angular</a> <span role="img" aria-label="Red heart">❤️</span>.
</p>

<h2>Sources</h2>
<p>
    The logos from "Euro Millions" and "Swiss Lotto" are from the website <a href="https://www.swisslos.ch/" target="_blank" rel="noopener noreferrer">www.swisslos.ch</a>.
</p>
