// GENERAL SIZES
$container: 768px;


// COLORS
$black: #151515;
$white: #F0F0F0;

$light-gray: #D3D3D3;
$dark-gray: #6b6b6b;

$primary: #2C3E50;
$red: #c23616;

$lotteries: (
  euroMillions: #1F85C9,
  swissLotto: #91141D
);


// RESPONSIVE SIZES
$breakpoints: (
  iPhone8: 375px,
  iPhone8Plus: 414px,
  iPad: 768px,
  iPadPro: 1024px
);
@mixin breakpoint($breakpoint) {
  @media (min-width: map_get($breakpoints, $breakpoint)) {
    @content;
  }
}