@import 'variables';

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;

  @include breakpoint(iPad) {
    height: auto;
    width: $container;
    max-width: 80%;
    margin: 8vh auto;
  }
}