main {
  flex-grow: 1;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 1rem;
  background: #F0F0F0; }
  @media (min-width: 768px) {
    main {
      overflow: hidden;
      padding: 2rem;
      -webkit-overflow-scrolling: unset;
      border-radius: 0 0 10px 10px; } }
  main a {
    color: #2C3E50; }
    main a:hover {
      background: #2C3E50;
      color: #F0F0F0;
      padding: 1px 2px;
      margin: -1px -2px; }
    @media (hover: none) {
      main a {
        background: none;
        color: #2C3E50;
        padding: 0;
        margin: 0; } }
