@import 'variables';

nav {
  background: $white;

  @include breakpoint(iPad) {
    overflow: hidden;
    border-radius: 10px 10px 0 0;
  }
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      flex-basis: 0;
      flex-grow: 1;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 10px;
        background: $light-gray;
        font-size: 0.75rem;
        font-weight: bold;
        text-decoration: none;
        color: $dark-gray;

        @include breakpoint(iPad) {
          padding: 15px;
          font-size: 0.875rem;
        }
        &:hover {
          background: lighten($light-gray, 5%);
        }
        @media (hover: none) {
          background: $light-gray;
        }
        img {
          max-width: 48px;
          max-height: 48px;
          margin-right: 0.5rem;
          filter: grayscale(1);
        }
        &.active {
          background: transparent;
          color: currentColor;

          img {
            filter: grayscale(0);
          }
        }
      }
    }
  }
}