.suggestions__numbers table {
  max-width: 100%;
  margin-top: 10px; }
  .suggestions__numbers table thead:after {
    content: "";
    display: block;
    height: 5px; }
  .suggestions__numbers table thead tr th {
    vertical-align: top;
    text-align: left;
    padding-right: 5px; }
    @media (min-width: 375px) {
      .suggestions__numbers table thead tr th {
        padding-right: 10px;
        padding-bottom: 5px; } }
    .suggestions__numbers table thead tr th:last-child {
      padding-right: 0; }
  .suggestions__numbers table tbody tr td {
    padding-right: 5px; }
    @media (min-width: 375px) {
      .suggestions__numbers table tbody tr td {
        padding-right: 10px;
        padding-bottom: 5px; } }
    @media (min-width: 768px) {
      .suggestions__numbers table tbody tr td {
        padding-right: 2rem;
        padding-bottom: 1rem; } }
    .suggestions__numbers table tbody tr td:last-child {
      width: 100%;
      padding-right: 0; }
    .suggestions__numbers table tbody tr td button {
      margin: 0;
      padding: 0;
      background: none;
      border-radius: unset; }
      .suggestions__numbers table tbody tr td button:hover svg {
        fill: #942911; }
      @media (hover: none) {
        .suggestions__numbers table tbody tr td button svg {
          fill: #c23616; } }
      .suggestions__numbers table tbody tr td button svg {
        width: 1rem;
        height: 1rem;
        fill: #c23616; }

.suggestions__controls {
  margin-top: 2rem; }
  .suggestions__controls button {
    display: inline-flex;
    align-items: center; }
    .suggestions__controls button svg {
      display: block;
      width: 1.1em;
      height: 1.1em;
      margin-right: .4em; }
