// VARIABLES
@import 'variables';


// WRAP
.suggestions {
}


// NUMBERS
.suggestions__numbers {
  table {
    max-width: 100%;
    margin-top: 10px;

    thead {
      &:after {
        content: "";
        display: block;
        height: 5px;
      }
      tr {
        th {
          vertical-align: top;
          text-align: left;
          padding-right: 5px;

          @include breakpoint(iPhone8) {
            padding-right: 10px;
            padding-bottom: 5px;
          }
          &:last-child {
            padding-right: 0;
          }
        }
      }
    }
    tbody {
      tr {
        td {
          padding-right: 5px;

          @include breakpoint(iPhone8) {
            padding-right: 10px;
            padding-bottom: 5px;
          }
          @include breakpoint(iPad) {
            padding-right: 2rem;
            padding-bottom: 1rem;
          }
          &:last-child {
            width: 100%;
            padding-right: 0;
          }
          button {
            margin: 0;
            padding: 0;
            background: none;
            border-radius: unset;

            &:hover {
              svg {
                fill: darken($red, 10%);
              }
            }
            @media (hover: none) {
              svg {
                fill: $red;
              }
            }
            svg {
              width: 1rem;
              height: 1rem;
              fill: $red;
            }
          }
        }
      }
    }
  }
}


// CONTROLS (add and new numbers buttons)
.suggestions__controls {
  margin-top: 2rem;

  button {
    display: inline-flex;
    align-items: center;

    svg {
      display: block;
      width: 1.1em;
      height: 1.1em;
      margin-right: .4em;
    }
  }
}