<div class="container">
  <header class="header">
    <nav>
      <ul>
        <li>
          <a
            routerLink="/euro-millions"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            ><img src="assets/img/euro_millions_logo.png" alt="Euro Millions Logo" width="48" height="26" /> Euro Millions</a
          >
        </li>
        <li>
          <a
            routerLink="/swiss-lotto"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            ><img src="assets/img/swiss_lotto_logo.png" alt="Swiss Lotto Logo" width="48" height="16" />Swiss Lotto</a
          >
        </li>
      </ul>
    </nav>
  </header>
  <main class="main">
    <router-outlet></router-outlet>
  </main>
  <footer class="footer">
    © {{year}} by Jan Fässler |
    <a routerLink="/legal-notice" routerLinkActive="active">Legal notice</a>
  </footer>
</div>